# Web API
fastapi
pydantic[email]
httpx
uvicorn[standard]

# Testing
pytest
pytest-cov
pytest-asyncio

# Database
SQLAlchemy

# Cryptography
passlib[bcrypt]

# Machine Learning/Data science
numpy
pandas
scikit-learn

# Visualization
jupyter
matplotlib
seaborn

# Others
colorlog
joblib
python-dotenv
pyyaml
srsly
