# Web API
fastapi==0.65.1
pydantic[email]==1.8.2
httpx==0.18.2
uvicorn[standard]==0.13.4

# Testing
pytest==6.2.4
pytest-cov==2.12.0
pytest-asyncio==0.15.1

# Database
SQLAlchemy==1.4.21

# Cryptography
passlib[bcrypt]==1.7.4

# Machine Learning/Data science
scikit-learn==0.24.2
numpy==1.20.3
pandas==1.2.4

# Visualization
jupyter>=1.0
matplotlib==3.4.2
seaborn==0.11.1

# Others
colorlog==5.0.1
joblib==1.0.1
python-dotenv==0.17.1
pyyaml==5.4.1
srsly==2.4.1
